//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Default Styling
//  2. Content Articles
//  3. Specific Content Styling
//
//******************************************************************

//==================================================================
//  1. Default Styling
//==================================================================
#content {
  background-color: $col-bkg--content;
  margin: $pad-mod 0;

  .site-content-full {
  }

  .site-content {
  }

  .site-sidebar {
  }
}


//==================================================================
//  2. Content Articles
//==================================================================
// NOTE: Default styling for articles which are essentially content
//       modules that can be used and repeated as many times as required
//       on a single page. Can also be used with grid system to position
//       them side-by-side, etc.

article,
.module {
  margin: $pad-site 0;
}

.module-header {
  border-bottom: 1px solid $col-4;
}

.module-meta {
  display: none;
}

.module-content {
  padding: 0.5rem;

  .data-label {
    display: inline-block;
    width: 80px;
  }

  span {
    display: inline-block;
  }
}

.module-footer {
  display: none;
}


//==================================================================
//  3. Specific Content Styling
//==================================================================
#pre-person-details {
  @include mq(S) {
    margin-top: $pad-mod * -1;
  }

  .module-header {
    display: none;
  }

  .module-content {
    text-align: center;

    img {
      border-radius: 50%;
      height: 80px;
      margin: 0;
      width: 80px;
    }

    h1 {
      font-size: 1.8rem;
      margin: 0;
      text-transform: none;
    }

    div {
      margin-top: -5px;
    }

    .data-label {
      font-size: 0.85rem;
      padding-right: 5px;
      width: auto;
    }
  }
}

#person-details {
  .cont-row {
    display: flex;
    justify-content: flex-start;

    @include mq(S) {
      justify-content: space-between;
    }
  }

  #data-age {
    font-weight: bold;
    padding-right: 5px;
  }

  #data-dob {
    color: $col-3;
    display: block;
    font-size: 0.85rem;
    margin-left: 80px;
  }

  .data-blood {
    margin-left: $pad-mod * 5;

    @include mq(S) {
      margin-left: 0;
    }

    .data-label {
      width: auto;
    }

    #data-blood {
      display: block;
      font-size: 1.4rem;
      text-align: center;
    }
  }

  #data-address {
    font-weight: bold;
  }

  #data-address-full {
    color: $col-3;
    display: block;
    font-size: 0.85rem;
    margin-left: 80px;
  }
}
