//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Default Styling
//  2. Content Articles
//  3. Specific Content Styling
//
//******************************************************************

//==================================================================
//  1. Default Styling
//==================================================================
#content {
  background-color: $col-bkg--content;
  margin: $pad-mod 0;

  .site-content-full {
  }

  .site-content {
  }

  .site-sidebar {
  }
}


//==================================================================
//  2. Content Articles
//==================================================================
// NOTE: Default styling for articles which are essentially content
//       modules that can be used and repeated as many times as required
//       on a single page. Can also be used with grid system to position
//       them side-by-side, etc.

article,
.module {
  margin: $pad-mod 0;
}

.module-header {
  border-bottom: 1px solid $col-4;
}

.module-meta {
  display: none;
}

.module-content {
  padding: 0.5rem;
}

.module-footer {
  display: none;
}


//==================================================================
//  3. Specific Content Styling
//==================================================================
#pre-person-details {
  margin-top: 0;

  .module-header {
    display: none;
  }

  .module-content {
    text-align: center;

    img {
      border-radius: 50%;
      height: 120px;
      margin: 0;
      width: 120px;
    }

    h1 {
      margin: 0;
      text-transform: none;
    }

    .data-label {
      font-size: 0.9rem;
      margin-top: -2px;
    }
  }
}
