//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Default Styling
//  2. Footer Widgets
//  3. Site Info
//
//******************************************************************

//==================================================================
//  1. Default Styling
//==================================================================
footer {
  background-color: $col-bkg--footer;

  .content-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: $pad-mod;
  }
}


//==================================================================
//  2. Footer Widgets
//==================================================================
.site-social {
}


//==================================================================
//  3. Site Info
//==================================================================
.site-info {
}
