//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Default Styling
//
//******************************************************************

//==================================================================
//  1. Default Styling
//==================================================================
header {
  align-items: center;
  background-color: $col-bkg--header;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.site-nav-home {
  a,
  a:active,
  a:focus,
  a:hover,
  a:visited {
    color: $col-1;
    font-size: 0.9rem;
    font-weight: inherit;
    vertical-align: middle;

    span {
      padding-left: 5px;
    }
  }

  a:hover {
    color: $col-2;
  }
}
