
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    @Styles.Render("~/Content/css")

    <title>MedicAlert</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="page-search">
    <header role="banner">
        <div class="content-wrap">
            <div class="site-brand">
                <h1 class="logo"><span>MedicAlert</span></h1>
            </div><!-- end .site-brand -->
        </div><!-- end .content-wrap -->
    </header><!-- end header -->


    <div id="content" role="main">
        <div class="content-wrap">
            <section class="site-content-full">
                <main class="content-area" role="main">
                    @using( Html.BeginForm("Member","demo",FormMethod.Post)){ 
                        <div class="search-form">
                            <div>
                                <input id="tb_ memberid" required="true" type="text" name="memberid" value="" placeholder="Member ID" autofocus>
                            </div>

                            <div>
                                <input id="btn_submit" type="submit" value="Get Record" class="button">
                            </div>
                        </div><!-- end div.search-form -->
                    }
                </main><!-- end .content-area -->
            </section><!-- end .site-content-full -->
        </div><!-- end .content-wrap -->
    </div><!-- end #content -->


    <footer role="contentinfo">
        <div class="content-wrap">
            <div id="div-result">
                &nbsp;
            </div>
        </div><!-- end .content-wrap -->
    </footer><!-- end footer -->

@Scripts.Render("~/bundles/glo")
</body>
</html>
