//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Default Styling
//  2. Read More Button
//  3. Social Buttons
//
//******************************************************************

//==================================================================
//  1. Default Styling
//==================================================================
.button,
%button,
.button:active,
.button:focus,
.button:hover,
.button:visited {
  // Required to ensure button is always styled correctly
  // scss-lint:disable ImportantRule
  @include font-style--content;
  background: $col-3;
  border: 2px solid $col-3;
  border-radius: 0;
  color: $col-white;
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: 2px;
  line-height: 1.4;
  margin-bottom: 0;
  outline: 0;
  padding: 9px 16px;
  position: relative;
  text-transform: uppercase;
  transition: 0.5s;
  white-space: nowrap;

  &:hover {
    background: $col-2;
    color: $col-3;
  }

  &.xlarge,
  &.xlarge:hover {
    font-size: 1.1rem;
    padding: 13px 22px !important;
  }

  &.large,
  &.large:hover {
    font-size: 1rem;
    padding: 11px 19px !important;
  }

  &.small,
  &.small:hover {
    font-size: 0.8rem;
    padding: 7px 13px !important;
  }

  &.xsmall,
  &.xsmall:hover {
    font-size: 0.7rem;
    padding: 5px 10px !important;
  }
}


//==================================================================
//  2. Read More Button
//==================================================================
.read-more,
.read-more:active,
.read-more:focus,
.read-more:hover,
.read-more:visited {
  // Required to ensure read more button is always styled correctly
  // scss-lint:disable ImportantRule

  @extend %button;
  font-size: 0.65rem;
  margin-left: $pad-site / 2;
  padding: 3px 5px 4px 5px !important;
}

.read-more:hover {
  background: $col-2;
  color: $col-3;
}


//==================================================================
//  3. Social Buttons
//==================================================================
.social-button,
.social-button:hover {
  // Required to ensure button is always styled correctly
  // scss-lint:disable ImportantRule
  @include font-style--content;
  border: 0;
  border-radius: 0;
  color: $col-white !important;
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1.4;
  outline: 0;
  padding: 9px 16px !important;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s;
  white-space: nowrap;

  @include mq(S) {
    padding: 7px 10px !important;
  }
}
