//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Default Styling
//
//******************************************************************

//==================================================================
//  1. Default Styling
//==================================================================
input,
select,
textarea {
  background-color: $col-white;
  border: 1px solid $col-grey;
  border-radius: 2px;
  color: $col-1;
  line-height: 20px;
  margin-bottom: $pad-mod;
  margin-top: 0;
  padding: 12px 10px;
  width: 100%;
}

input[disabled],
select[disabled],
textarea[disabled] {
  background-color: rgba($col-lgrey, 0.35);
}

select {
  height: 46px;
  outline: 0;
}

select[size] {
  height: auto;
}

textarea {
  height: 200px;
}

input[type="submit"],
input[type="reset"] {
  @extend %button;
  width: auto;
}

input[type="checkbox"] {
  padding: 0;
  width: auto;
}

// iOS Hack to display input boxes as square
input[type="button"],
input[type="email"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="text"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
}
