//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Default Styling
//
//******************************************************************

//==================================================================
//  1. Default Styling
//==================================================================
figure,
img {
  height: auto;       // Make sure images are scaled correctly
  margin: 0 0 1rem 0;
  max-width: 100%;    // Adhere to container width
}
