//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Default Styling
//
//******************************************************************

//==================================================================
//  1. Default Styling
//==================================================================
ul,
ol {
  list-style-position: outside;
  margin: 0 0 1.5em 0;
  padding: 0 0 0 $pad-site;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;

  li > ol {
    list-style: lower-roman;
  }
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0.5rem;
}
