//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Primary Navigation
//  2. Mobile Navigation
//  3. Footer Navigation
//
//******************************************************************

//==================================================================
//  1. Primary Navigation
//==================================================================
.site-nav-main {
  .head-menu {
    // Hide non-mobile menu on mobile devices
    @include mq(M) { display: none; }

    a,
    a:focus,
    a:visited {
      @include font-style--title;
      color: $col-3;
      display: inline-block;
      font-size: 0.8rem;
      letter-spacing: normal;
      padding: 15px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      background: $col-2;
      color: $col-white;
    }

    .current-menu-item,
    .current-menu-item:hover,
    .current-page-ancestor,
    .current-page-ancestor:hover,
    .current-post-ancestor,
    .current-post-ancestor:hover {
      // Required to ensure current menu item styled correctly
      // scss-lint:disable ImportantRule
      background: $col-2;
      color: $col-white !important;
    }
  }
}


//==================================================================
//  2. Mobile Navigation
//==================================================================
.site-nav-main {
  .head-menu-mobile-toggle {
    border: 1px solid $col-3;
    color: $col-3;
    cursor: pointer;
    display: none;
    height: 48px;
    text-align: center;
    width: 48px;

    // Show mobile menu on mobile devices
    @include mq(M) { display: block; }

    &:hover {
      background: $col-2;
      border: 1px solid $col-2;
      color: $col-white;
    }
  }

  .head-menu-mobile {
    background: $col-bkg--menu;
    display: none;
    left: 0;
    margin: $pad-site * 2.1 auto;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 9999;

    @include mq(M) { width: 70%; }
    @include mq(S) { width: 97%; }

    a {
      color: $col-white;
      display: block;
      font-weight: normal;
      letter-spacing: 2px;
      line-height: 16px;
      padding: $pad-site / 1.5 $pad-site;
      text-transform: uppercase;

      &:hover {
        color: $col-2;
      }

      &:first-of-type {
        margin-top: $pad-site;
      }

      &:last-of-type {
        margin-bottom: $pad-site;
      }
    }
  }
}


//==================================================================
//  3. Footer Navigation
//==================================================================
.site-nav-footer {
}

.foot-menu {
}
