//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Primary Navigation
//  2. Mobile Navigation
//  3. Footer Navigation
//
//******************************************************************

//==================================================================
//  1. Primary Navigation
//==================================================================
.site-nav-main {
  .head-menu-toggle {
    color: $col-1;
    cursor: pointer;
    font-size: 0.9rem;

    &:hover {
      color: $col-2;
    }

    span.icon-menu::before {
      content: '\f039';    // Mobile menu icon
      display: inline-block;
      font-family: FontAwesome;
      font-size: 1.2rem;
      font-weight: normal;
      text-decoration: inherit;
    }
  }

  .head-menu {
    background: $col-bkg--menu;
    display: none;
    left: 0;
    margin: $pad-site * 2.1 auto;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 9999;

    @include mq(M) { width: 70%; }
    @include mq(S) { width: 97%; }

    a {
      color: $col-white;
      display: block;
      font-weight: normal;
      letter-spacing: 2px;
      line-height: 16px;
      padding: $pad-site / 1.5 $pad-site;
      text-transform: uppercase;

      &:hover {
        color: $col-2;
      }

      &:first-of-type {
        margin-top: $pad-site;
      }

      &:last-of-type {
        margin-bottom: $pad-site;
      }
    }
  }
}


//==================================================================
//  3. Footer Navigation
//==================================================================
.site-nav-footer {
}

.foot-menu {
}
