//******************************************************************
//  Table of Contents
//  -----------------
//
//  1. Default Styling
//
//******************************************************************

//==================================================================
//  1. Default Styling
//==================================================================
body.page-search {
  align-items: center;
  background: $col-bkg--search;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  header {
    background: none;
    margin-bottom: $pad-mod * 3.5;
  }

  #content {
    background: none;
    display: block;
    flex: none;
    width: 450px;

    @include mq(S) {
      width: 95%;
    }

    .search-form {
      input {
        border: 0;
        width: 100%;
      }

      input[type="text"] {
        font-size: 1rem;
        margin-bottom: $pad-mod;
        padding: 16px 14px;
      }
    }
  }

  footer {
    background: none;

    #divresult {
      margin-top: $pad-mod;
    }

    #divresult.error {
      // Required to enforce overriding default styling
      // scss-lint:disable ImportantRule
      background: none !important;
      border: 0 !important;
      padding: 0;
    }
  }
}
